
body {
    background-color: #C9AA8F;
}

h1 {
    font-size: 80;
    font-weight: bolder;
    text-align: center;
}



.croissant {
    max-width: 45%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}
    

.contact-details {
    text-align: center;
    font-size: 18px;
}
footer {
    text-align: center;
    margin: 0 20px;
}

footer {
    cursor: pointer;
    text-decoration: none; 
    color: bisque;   
}


.description {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
    
    
}
.link-1 {
    color: blueviolet;
    margin: 0 10px;
}
.link-2 {
    color: blueviolet;
    margin: 0 10px;
}
.link-3 {
    color: blueviolet;
    margin: 0 10px;

}